.julius-popup-container, .border-rounded {
    width: 600px;
    display: block;
    height: auto;
    padding: 10px;
    border-radius: 4px;
}

.julius-label {
    color: #777;
    font-size: 14px;
    padding: 10px;
    display: inline-block;
}
.julius-input {
    font-family: "Arial";
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #888;
    font-size: 14px;
    width: 400px;

}
input[type="text"] {
    color: #777;
    font-size: 14px;
}

.julius-button {
    border-radius: 4px;
    border: 1px solid #888;
    color: #888;
    font-size: 14px;
    background-color: #fff;
    padding: 10px;
}
